<section  >
	<input type="button" class="btn btn-success pull-right"  data-ng-if="vm.authentication.user.roles.indexOf('admin') != -1" value="Add New Category" data-title="Add" ng-click="openAddCategoryModal()" />

	<div class="page-header">
		<h1>Categories</h1>
	</div>

	<div class="col-md-12">
		<div class="table-responsive" data-ng-if="vm.categories.length > 0">
			<table id="mytable" class="table table-bordred table-striped">
				<thead>
					<!--<th><input type="checkbox" id="checkall" /></th>-->
					<th>Name</th>
					<th data-ng-if="vm.authentication.user.roles.indexOf('admin') != -1">Edit</th>
					<th data-ng-if="vm.authentication.user.roles.indexOf('admin') != -1">Delete</th>
				</thead>
				<tbody>

					<tr ng-repeat="category in vm.categories">
						<!--<td class="width-60px"><input type="checkbox" class="checkthis" /></td>-->
						<td> {{category.name}} </td>
						 <td class="width-60px" data-ng-if="vm.authentication.user.roles.indexOf('admin') != -1">
							<p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" ng-click="openAddCategoryModal(category)"><span class="glyphicon glyphicon-pencil"></span></button></p>
						</td>
						<td class="width-60px" data-ng-if="vm.authentication.user.roles.indexOf('admin') != -1">
							<p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" ng-click="openDeleteCategoryModal(category)"><span class="glyphicon glyphicon-trash"></span></button></p>
						</td>
					</tr>
				</tbody>

			</table>
		</div>
		 
		<div class="alert alert-warning text-center" data-ng-if="vm.categories.$resolved && !vm.categories.length">
			No categories created.
		</div>
</section>